# Dependencies
node_modules/
.npm

# Build
dist/
dist-ssr/
build/

# Environment — HECH QACHON git ga qo'shma
.env
.env.local
.env.production
.env.*

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
